:root {
  --bg: rgb(31, 31, 63);
}

html {
  scroll-behavior: smooth;
  transition: all 1s;
}

body {
  font-family: Arial, sans-serif;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: white;
  overflow-x: hidden;
}

header {
  position: fixed;
  background-color: var(--bg);
  height: 100px;
  color: white;
  margin-left: 50px;
  border-bottom: 5px solid white;
  top: 0;
  right: 0;
  min-width: calc(100% - 50px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 2px 2px 3px black;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

.logo img {
  height: 100%;
}

header .search-form {
  display: flex;
  align-items: center;
}

header div input {
  border: none;
  font-size: 15px;
  width: 500px;
  padding: 8px;
  border-radius: 15px;
  outline: none;
  box-shadow: inset 2px 2px 5px black;
}

header div .search-icon {
  font-size: 25px;
  padding: 3px;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

header div .search-icon:hover {
  background-color: blue;
}

.nav-link div a:hover, .nav-link .active {
  color: cyan;
}

.nav-link {
  margin-right: 150px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-link div {
  margin-right: 25px;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.nav-link div img {
  height: 30px;
  pointer-events: none;
}

.menu-section {
  position: fixed;
  background-color: rgb(65, 65, 126);
  color: white;
  height: 100%;
  top: 0;
  left: -250px;
  width: 300px;
  border-right: 2px solid white;
  z-index: 200;
  box-shadow: 2px 2px 3px black;
}

.menu-section .subjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu-section .subjects div {
  display: none;
}

.show .subjects div{
  display: block;
  padding: 10px;
  width: 280px;
  text-align: center;
}

.show .subjects .subject {
  margin-left: -10px;
}

.show {
  position: block;
  left: 0;
}

.show div .subjects-show .subject:hover {
  background-color: blue;
}

.show-theme10, .show-theme11 {
  margin-bottom: -40px;
}

.show-theme12 {
  margin-bottom: -30px;
}

.themes ul {
  display: none;
  width: 200px;
  line-height: 1cm;
  margin-top: -10px;
}

.themes ul li {
  list-style-type: none;
}

.appear ul {
  display: block;
}

.menu-section div i {
  position: block;
  margin-top: 30px;
  padding: 10px;
  font-size: 30px;
  margin-left: 82%;
  cursor: pointer;
}

.menu-section div i:hover {
  background-color: blue;
}

.subject {
  cursor: pointer;
}

.ad10, .ah10, .ad11, .ah11, .ad12, .ah12, .gt1, .gt2, .gt3, .dstt1, .dstt2 {
  cursor: pointer;
}

.web-body {
  background: url("images/background.jpg") no-repeat;
  margin-left: 50px;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  width: calc(100% - 50px);
}

.section {
  min-height: 550px;
}

.inside {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-section {
  text-shadow: 2px 2px 5px black;
  line-height: 0.5cm;
}

.home-section .home-image {
  height: 400px;
  width: 400px;
  margin-top: 100px;
  border: 2px solid white;
  padding: 10px;
  background: white;
  border-radius: 210px;
}

.home-section .inside .home-image img {
  height: 100%;
  width: 100%;
  border-radius: 200px;
}

.about-us-section, .contact-section, .form-section, .case-study-section {
  border-top: 5px solid gray;
}

.about-us-section .inside .about-us-image {
  height: 400px;
  width: 400px;
  margin-top: 100px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
}

.about-us-section .inside .about-us-image img {
  height: 100%;
  width: 100%;
}

.about-us-text {
  margin-top: 50px;
  text-align: left;
  line-height: 1cm;
} 

.contact-section .inside .contact-image {
  width: 400px;
  height: 400px;
  margin-top: 100px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
}

.contact-section .inside .contact-image img {
  height: 100%;
  width: 100%;
}

.contact-section a span:hover {
  color: cyan;
}

.contact-text {
  text-align: left;
  margin-top: 50px;
  line-height: 1cm;
}

form {
  width: 600px; 
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .form-box input {
  font-size: 15px;
  padding: 10px;
  border-radius: 25px;
  width: 300px;
  box-shadow: inset 2px 2px 5px black;
}

form .form-box .label-div {
  font-size: 15px;
  padding: 10px 0;
  border-radius: 25px;
}

.form-box {
  display: grid;
  grid-template-columns: 100px 1fr;
}

#submit-input {
  margin-top: 5px;  
  font-size: 15px;
  padding: 10px;
  width: 390px;
  cursor: pointer;
}

.google, .face { 
  font-size: 15px;
  padding: 10px;
  width: 390px;
  margin-top: 5px;
  cursor: pointer;
}

.case-study {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.case-study div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.case-study button {
  color: white;
  background: cyan;
  border: none;
  outline: none;
  padding: 10px;
  width: 200px;
  font-size: 15px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 25px;
  height: 50px;
}

.case-study-image {
  width: 400px;
  height: 400px;
}

.case-study-image img {
  width: 100%;
  height: 100%;
  border: 10px solid rgb(125, 172, 204);
  border-radius: 150px;
}

footer {
  background-color: rgb(70, 64, 64);
  border-top: 1px solid white;
  height: 200px;
  color: white;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div a span:hover {
  color: cyan;
}

.logo-footer {
  padding: 0;
  max-height: 200px;
  width: 200px;
  height: 150px;
}

@media (max-width: 1024px) {
  html {
    text-align: center;
  }

  header .logo {
    height: 40px;
  }

  header div input {
    border: none;
    font-size: 15px;
    width: 300px;
    padding: 8px;
    border-radius: 15px;
    outline: none;
  }

  header {
    flex-direction: column;
    height: 150px;
    align-items: start;
  }

  header div, nav {
    margin-left: 50px;
  }

  .nav-link {
    margin-right: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }

  .web-body {
    min-width: 200%;
    margin-top: 150px;
  }

  .about-us-text {
    text-align: center;
  }

  .contact-text {
    text-align: center;
  }

  form {
    width: 400px; 
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-box {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  form .form-box input {
    font-size: 12px;
    padding: 10px 0;
    padding-left: 0;
    border-radius: 25px;
    width: 200px;
  }

  form .form-box .label-div {
    font-size: 12px;
    padding: 10px 0;
    border-radius: 25px;
  }

  #submit-input {
    font-size: 12px;
    padding: 10px;
    width: 200px;
  }

  .google, .face { 
    font-size: 12px;
    padding: 10px;
    width: 200px;
    margin-top:2px;
  }

}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }

  header {
    margin-left: 30px;
    min-width: calc(100% - 30px);
  }

  .menu-section {
    position: fixed;
    background-color: rgb(125, 125, 209);
    color: white;
    height: 100%;
    top: 0;
    left: -270px;
    max-width: 300px;
    border-right: 2px solid white;
    z-index: 200;
  }

  .menu-section div i {
    position: block;
    margin-top: 30px;
    padding: 0;
    font-size: 20px;
    margin-left: 90%;
  }

  .show {
    left: 0;
  }

  .web-body {
    margin-left: 30px;
  }

  .home-section .inside .home-image {
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
  }

  .about-us-section .inside .about-us-image {
    width: 200px;
    height: 200px;
  }

  .contact-section .inside .contact-image {
    width: 200px;
    height: 200px;
  }

  .case-study-image {
    width: 200px;
    height: 200px;
  }
}